<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="endnoteEntities" connectionString="metadata=res://*/endnote.csdl|res://*/endnote.ssdl|res://*/endnote.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=endnote;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>