html,body,div,ul, li,a,img,input,h2,dl,dt,dd{padding:0px; margin:0px; font-size:14px; color:#a2a2a2;}
html,body{height:100%;}
img{border:0;}
li{list-style:none;}
a{text-decoration:none;}
a:hover{color:#656565;}

a,input{ blr:expression(this.onFocus=this.blur()); /* IE Opera */ 
   outline:none; /* FF Opera */ 
   } 
a:focus{ -moz-outline-style: none; /* FF */ 
         -moz-outline:none;
         }
.main{width:100%; height:100%; position:relative; min-height:920px}
/*-webkit-box-shadow:15px 2px 15px #e7e7e7;-moz-box-shadow:15px 2px 15px #e7e7e7;box-shadow:15px 2px 15px #e7e7e7;*/
.left{background:#fff; min-width:300px; position:absolute; left:0; z-index:999; width:20%; height:100%; padding:0px 10px; -webkit-box-shadow: 10px 0 10px 0 rgba(0,0,0,0.1); box-shadow: 10px 0 10px 0 rgba(0,0,0,0.1);}
.leftmain{width:270px; margin:auto; background-color:transparent}
.leftmain-search{width:265px; margin-top:90px; height:40px; overflow:hidden; height:30px; line-height:35px; border:#e1e8e6 solid 1px;}
/*-webkit-box-shadow:5px 2px 6px #e7e7e7;-moz-box-shadow:5px 2px 6px #e7e7e7;box-shadow:5px 2px 6px #e7e7e7;*/
.leftmain-searchfocus{border:#adadad solid 1px;}
.leftmain-search input{border:0;}
.searchtxt{float:left;width:245px; height:28px; line-height:28px;}
.searchbtn{float:right; width:20px; height:20px; cursor:pointer; float:right; background:url(Images/search.png) no-repeat left center; margin-top:5px;}

.collection{clear:both; margin-top:11px;}
.collection-top{height:30px; line-height:30px;}
.collection-top li{float:left; padding-left:10px; padding-right:10px;}
.collection-top-select a{font-weight:bold;}
.collection-list{clear:both; margin-top:10px;}
.collection-list ul{padding-left:10px;}
.collection-list li{height:32px; line-height:32px;}
.collection-img{clear:both; padding-top:20px;}
.collection-img li{float:left;padding-right:5px;}
.collection-img img{width:60px; height:60px; border:#ccc solid 1px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px}

/*.rightwrap{min-width:976px; width:100%; height:100%;}*/
.right{position:absolute;width:50%; padding-right:610px;height:100%; z-index:2; 
       background: -webkit-gradient(linear,left top,center center,from(#CCC), to(white)); 
       background: -ms-linear-gradient(-45deg, #CCC 0%, white 50%, white 100%);
       background-color:white;}
       /*-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF003366,EndColorStr=#FF55AAEE)";*/
.rightbackgroundlowerthan159{width:100%;height:100%;-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#FFE2E2E2,EndColorStr=white)";}
/*.rightmain{width:960px; position:relative; left:50%; margin-left:-320px; background:#fff;}*/
.content{width:960px; position:absolute; left:50%; margin-left:-350px; z-index:3; background-color:transparent}
.rightmain-top{width:225px; float:right; height:65px; margin-top:30px;}
.rightmain-top-img{width:85px; float:left; text-align:left;}
.rightmain-top-img img{width:60px; height:60px; border:#ccc solid 1px;}
.rightmain-top-content{width:140px; float:right; }
.rightmain-top-content li,.settings li{font-size:16px; line-height:30px;}
.rightmain-top-content li a{font-size:16px; background:url(Images/sign.png) no-repeat left center; padding-left:20px;}
.rightmain-top-content li a:hover{background:url(Images/select_sign.png) no-repeat left center; }
.rightmain-top-content    h2{font-size:20px;}
.rightcontent{position:relative; height:660px; width: 960px; clear:both; margin-top:20px; margin-left:auto; margin-right:auto; background-color:transparent}
/*.rightRed{display:inline-block;width:3%}*/
.rightRedBar{width:35px; height:380px; background:#b9483a; position:absolute; right:0; top:240px; z-index:1}

.allcollection{clear:both; width:100%; height:30px; line-height:28px; }
.allcollectionleft h2{font-size:16px; color:#b9483a; text-shadow:2px 3px 4px white;}
.allcollectionleft,.alltypeleft{float:left; border-bottom:#b9483a solid 3px; text-align:center; height:28px}
.allcollectionright,.alltyperight{border-bottom:#cacaca solid 3px; width:862px; float:right; height:28px; padding-left:30px}
.allcollectionright a{float:left; padding-left:5px; padding-right:5px; font-size:16px; font-weight:bold;}
.allcollectionright a:hover{color:#fff; background:#b9483a;}
.alltype{clear:both; margin-top:10px;}
.alltypeleft h2{font-size:16px; color:#b9483a;}
.alltypeleft,.alltyperight{border:none;}
.alltyperight a{float:left; margin-right:20px; font-weight:bold; padding-left:5px; padding-right:15px; font-size:16px;}

.alltyperightsjx{background:url(Images/sjx.png) no-repeat right center;}
a.alltyperightsjx:hover{background:url(Images/select_sjx.png) no-repeat right center; color:#656565;}
.alltyperightrefresh{background:url(Images/refresh.png) no-repeat center left; text-indent:20px; margin-left:20px;_margin-left:10px; }
a.alltyperightrefresh:hover{background:url(Images/select_refresh.png) no-repeat center left;color:#656565;}
.alltyperight a:hover,a.alltyperightselect{color:#b9483a;}

.settings{clear:both; width:960px; margin-top:20px; margin-left:auto; margin-right:auto; text-align:left;}
.settings li a{font-size:16px; background:url(Images/setting.png) no-repeat left center; padding-left:20px;}
.settings li a:hover{background:url(Images/select_setting.png) no-repeat left center;}

.graytext, a.graytext:link, a.graytext:visited{color:#a0a0a0}
.articlebox {overflow:hidden}
.articletitle {font-size:18px; font-weight:bold; font-family:Georgia,times new roman,verdana; line-height:24px; max-height:24px; padding-top:3px; margin-bottom:3px; color:#000; overflow:hidden;}
.articlefrom {overflow:hidden; height:20px; line-height:20px; font-size:12px; word-break:break-all; word-wrap:break-word; }
.articlefrom span {color:#000}
.articleimg {margin:5px 0;}
.articlesummary {margin-top:5px;  padding-top:2px; font-family:Georgia, times new roman; font-size:14px; line-height:22px; color:#000; overflow:hidden}=======
html,body,div,ul, li,a,img,input,h2,dl,dt,dd{padding:0px; margin:0px; font-size:14px; color:#a2a2a2;}
html,body{height:100%;}
img{border:0;}
li{list-style:none;}
a{text-decoration:none;}
a:hover{color:#656565;}

a,input{ blr:expression(this.onFocus=this.blur()); /* IE Opera */ 
   outline:none; /* FF Opera */ 
   } 
a:focus{ -moz-outline-style: none; /* FF */ 
         -moz-outline:none;
         }
.main{width:100%; height:100%; position:relative; min-height:920px}
/*-webkit-box-shadow:15px 2px 15px #e7e7e7;-moz-box-shadow:15px 2px 15px #e7e7e7;box-shadow:15px 2px 15px #e7e7e7;*/
.left{background:#fff; min-width:300px; position:absolute; left:0; z-index:999; width:20%; height:100%; padding:0px 10px; -webkit-box-shadow: 10px 0 10px 0 rgba(0,0,0,0.1); box-shadow: 10px 0 10px 0 rgba(0,0,0,0.1);}
.leftmain{width:270px; margin:auto; background-color:transparent}
.leftmain-search{width:265px; margin-top:90px; height:40px; overflow:hidden; height:30px; line-height:35px; border:#e1e8e6 solid 1px;}
/*-webkit-box-shadow:5px 2px 6px #e7e7e7;-moz-box-shadow:5px 2px 6px #e7e7e7;box-shadow:5px 2px 6px #e7e7e7;*/
.leftmain-searchfocus{border:#adadad solid 1px;}
.leftmain-search input{border:0;}
.searchtxt{float:left;width:245px; height:28px; line-height:28px;}
.searchbtn{float:right; width:20px; height:20px; cursor:pointer; float:right; background:url(Images/search.png) no-repeat left center; margin-top:5px;}

.collection{clear:both; margin-top:11px;}
.collection-top{height:30px; line-height:30px;}
.collection-top li{float:left; padding-left:10px; padding-right:10px;}
.collection-top-select a{font-weight:bold;}
.collection-list{clear:both; margin-top:10px;}
.collection-list ul{padding-left:10px;}
.collection-list li{height:32px; line-height:32px;}
.collection-img{clear:both; padding-top:20px;}
.collection-img li{float:left;padding-right:5px;}
.collection-img img{width:60px; height:60px; border:#ccc solid 1px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px}

/*.rightwrap{min-width:976px; width:100%; height:100%;}*/
.right{position:absolute;width:50%; padding-right:610px;height:100%; z-index:2; 
       background: -webkit-gradient(linear,left top,center center,from(#CCC), to(white)); 
       background: -ms-linear-gradient(-45deg, #CCC 0%, white 50%, white 100%);
       background-color:white;}
       /*-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF003366,EndColorStr=#FF55AAEE)";*/
.rightbackgroundlowerthan159{width:100%;height:100%;-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#FFE2E2E2,EndColorStr=white)";}
/*.rightmain{width:960px; position:relative; left:50%; margin-left:-320px; background:#fff;}*/
.rightmain{width:960px; position:absolute; left:50%; margin-left:-350px; z-index:3; background-color:transparent}
.rightmain-top{width:225px; float:right; height:65px; margin-top:30px;}
.rightmain-top-img{width:85px; float:left; text-align:left;}
.rightmain-top-img img{width:60px; height:60px; border:#ccc solid 1px;}
.rightmain-top-content{width:140px; float:right; }
.rightmain-top-content li,.settings li{font-size:16px; line-height:30px;}
.rightmain-top-content li a{font-size:16px; background:url(Images/sign.png) no-repeat left center; padding-left:20px;}
.rightmain-top-content li a:hover{background:url(Images/select_sign.png) no-repeat left center; }
.rightmain-top-content 	h2{font-size:20px;}
.rightcontent{position:relative; height:660px; width: 960px; clear:both; margin-top:20px; margin-left:auto; margin-right:auto; background-color:transparent}
/*.rightRed{display:inline-block;width:3%}*/
.rightRedBar{width:35px; height:380px; background:#b9483a; position:absolute; right:0; top:240px; z-index:1}

.allcollection{clear:both; width:100%; height:30px; line-height:28px; }
.allcollectionleft h2{font-size:16px; color:#b9483a; text-shadow:2px 3px 4px white;}
.allcollectionleft,.alltypeleft{float:left; border-bottom:#b9483a solid 3px; text-align:center; height:28px}
.allcollectionright,.alltyperight{border-bottom:#cacaca solid 3px; width:862px; float:right; height:28px; padding-left:30px}
.allcollectionright a{float:left; padding-left:5px; padding-right:5px; font-size:16px; font-weight:bold;}
.allcollectionright a:hover{color:#fff; background:#b9483a;}
.alltype{clear:both; margin-top:10px;}
.alltypeleft h2{font-size:16px; color:#b9483a;}
.alltypeleft,.alltyperight{border:none;}
.alltyperight a{float:left; margin-right:20px; font-weight:bold; padding-left:5px; padding-right:15px; font-size:16px;}

.alltyperightsjx{background:url(Images/sjx.png) no-repeat right center;}
a.alltyperightsjx:hover{background:url(Images/select_sjx.png) no-repeat right center; color:#656565;}
.alltyperightrefresh{background:url(Images/refresh.png) no-repeat center left; text-indent:20px; margin-left:20px;_margin-left:10px; }
a.alltyperightrefresh:hover{background:url(Images/select_refresh.png) no-repeat center left;color:#656565;}
.alltyperight a:hover,a.alltyperightselect{color:#b9483a;}

.settings{clear:both; width:960px; margin-top:20px; margin-left:auto; margin-right:auto; text-align:left;}
.settings li a{font-size:16px; background:url(Images/setting.png) no-repeat left center; padding-left:20px;}
.settings li a:hover{background:url(Images/select_setting.png) no-repeat left center;}

.graytext, a.graytext:link, a.graytext:visited{color:#a0a0a0}
.articlebox {overflow:hidden}
.articletitle {font-size:18px; font-weight:bold; font-family:Georgia,times new roman,verdana; line-height:24px; max-height:24px; padding-top:3px; margin-bottom:3px; color:#000; overflow:hidden;}
.articlefrom {overflow:hidden; height:20px; line-height:20px; font-size:12px; word-break:break-all; word-wrap:break-word; }
.articlefrom span {color:#000}
.articleimg {margin:5px 0;}
.articlesummary {margin-top:5px;  padding-top:2px; font-family:Georgia, times new roman; font-size:14px; line-height:22px; color:#000; overflow:hidden}

.windowApp {position:absolute; width:960px; left:50%; height:100%; margin-left:-350px; background:blue;}
