<script src="../ckeditor.js"></script>
<style>

	div.editable
	{
		border: solid 2px Transparent;
		padding-left: 15px;
		padding-right: 15px;
		width: 30%;
	}

	div.editable:hover
	{
		border-color: black;
	}

</style>
<script>

    // Uncomment the following code to test the "Timeout Loading Method".
    // CKEDITOR.loadFullCoreTimeout = 5;

    window.onload = function () {
        // Listen to the double click event.
        if (window.addEventListener)
            document.body.addEventListener('dblclick', onDoubleClick, false);
        else if (window.attachEvent)
            document.body.attachEvent('ondblclick', onDoubleClick);

    };

    function onDoubleClick(ev) {
        // Get the element which fired the event. This is not necessarily the
        // element to which the event has been attached.
        var element = ev.target || ev.srcElement;

        // Find out the div that holds this element.
        var name;

        do {
            element = element.parentNode;
        }
        while (element && (name = element.nodeName.toLowerCase()) &&
			(name != 'div' || element.className.indexOf('editable') == -1) && name != 'body');

        if (name == 'div' && element.className.indexOf('editable') != -1)
            replaceDiv(element);
    }

    var editor;

    function replaceDiv(div) {
        if (editor)
            editor.destroy();

        editor = CKEDITOR.replace(div);
    }

</script>

<div class="editable">
	<h3>
		Note 1
	</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras et ipsum quis mi
		semper accumsan. Integer pretium dui id massa. Suspendisse in nisl sit amet urna
		rutrum imperdiet. Nulla eu tellus. Donec ante nisi, ullamcorper quis, fringilla
		nec, sagittis eleifend, pede. Nulla commodo interdum massa. Donec id metus. Fusce
		eu ipsum. Suspendisse auctor. Phasellus fermentum porttitor risus.
	</p>
</div>
