<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ContentEntities" connectionString="metadata=res://*/Repository.Content.csdl|res://*/Repository.Content.ssdl|res://*/Repository.Content.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=42.96.136.157;Initial Catalog=Content;Persist Security Info=True;User ID=sa;Password=840310;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>