<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FeedEntities" connectionString="metadata=res://*/Repository.Feed.csdl|res://*/Repository.Feed.ssdl|res://*/Repository.Feed.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AY130129123707F;initial catalog=Feed;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>