@model endnote.Lib.Blog

@using (Ajax.BeginForm("NewProfile", "User", new AjaxOptions { UpdateTargetId = "profile_list", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }))
{
    <fieldset>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Subject, new { @class = "text ui-widget-content ui-corner-all", rows = 3, cols = 63, style = "overflow: hidden" })
        </div>
        <p>
            <input type="submit" value="评论" />
        </p>
    </fieldset>
}
