<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuthSuperDomain" value=".myxyz.com" />
    <add key="AuthenticateUrl" value="http://www.myxyz.com/Account/Authenticate" />
    <add key="LogOnUrl" value="http://www.myxyz.com/Account/LogOn?returnUrl={0}://{1}/Content{2}" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="jsonQueryStringWebHttp" type="System.ServiceModel.Configuration.JsonQueryStringWebHttpElement, System.ServiceModel.Web.Extension" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <jsonQueryStringWebHttp />
          <!--<enableWebScript />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <!-- This section is optional with the default configuration model introduced in .NET Framework 4 -->
      <service name="Notenet.Content.Service.Content">
        <endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="Notenet.Content.Service.IContent" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" >
      <add name="AuthenticationModule" type="Notenet.Security.AuthenticationModule, Notenet.Security" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Remove Svc Extension">
          <match url="^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-\.\/\(\)]+)" />
          <action type="Rewrite" url="{R:1}.svc/{R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <connectionStrings>
    <add name="ContentEntities" connectionString="metadata=res://*/Repository.Content.csdl|res://*/Repository.Content.ssdl|res://*/Repository.Content.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=42.96.136.157;Initial Catalog=Content;Persist Security Info=True;User ID=sa;Password=840310;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>